<!DOCTYPE html>
<html>

{{template "header"}}

<body>
    <div class="container" style="width:500px">
        <form class="navbar-form navbar-left" role="search" method="post">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">用户名：</span>
                <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
                <input type="password"  name="pwd" class="form-control" placeholder="******" aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>

</html>